// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #FFF;
  font-family: 'Nunito', sans-serif;
  color: #574B90;
}

.text-body{
  color: #574B90 !important;
}

.text-success{
  color: #30C89D !important;
}

.text-danger{
  color: #FD71A2 !important;
}

.btn-primary{
  background-color: lighten($color: #574B90 , $amount:30)  ;
  border: none;
  color: white !important;
}

#particles-js{
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#loading{
  position: absolute;
  padding-top: 150px;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  //font-family: 'Exo 2', sans-serif;
}
.container-fluid{
  max-width: 1500px;
}

.card {
  border-radius: 0;
}

.con-box{
  border: solid 2px #ECF4FD;
}

.form-control{
  border-radius: 12px;
  background-color: #E7E2FF;
  border:none;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.badge {
  border-radius: 12px;
}

.btn {
  border-radius: 12px;
}
.btn-light{
  background-color: #EEE;
  border:solid 1px #EEE;
}

.section-line{
  margin-top: 30px;
  border:none;
  height: 4px;
  border-radius: 4px;
  background-color: #333;
}

.b-12{
  border-radius: 12px;
}

.navbar-toggler {
  border: 0;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-radius: 0;
}


.resp-sharing-button {
  font-size: 13px;
  transition: 25ms ease-out;
  padding: .5em .8em;
  border-radius: 12px;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin-right: .5em;
  display: inline-block;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
  border-color: #25d366;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
