// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #343a40;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
}
.container-fluid{
  max-width: 1500px;
}

.card {
  border-radius: 0;
}

.form-control{
  border-radius: 12px;
  background-color: #EEE;
  border:none;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.badge {
  border-radius: 12px;
}

.btn {
  border-radius: 12px;
}
.btn-light{
  background-color: #EEE;
  border:solid 1px #EEE;
}

.section-line{
  margin-top: 30px;
  border:none;
  height: 4px;
  border-radius: 4px;
  background-color: #333;
}

.b-12{
  border-radius: 12px;
}

.navbar-toggler {
  border: 0;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-radius: 0;
}


.resp-sharing-button {
  font-size: 13px;
  transition: 25ms ease-out;
  padding: .5em .8em;
  border-radius: 12px;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin-right: .5em;
  display: inline-block;
}

.resp-sharing-button--whatsapp {
  background-color: #25d366;
  border-color: #25d366;
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
